@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

//MEDIA QUERIES

@mixin respond ($breakpoint) {
    @if $breakpoint == phone-port {
        @media (max-width: 20em) { @content }; //320px
    }
    @if $breakpoint == phone-land {
        @media (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 60em) { @content }; // 900 px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; //1200px
    }
}