//grid 
$grid-width: 100%;
$gutter-vertical: 0;
$gutter-horizontal: 0;

//colors https://colorhunt.co/palette/42676
$blue: #303a52;
$lavender: #574b90;
$dark-pink: #9e579d;
$light-pink: #fc85ae;
$white: #fff;