.card {
    background: rgba($lavender, 0.5);
    margin: 3rem;
    padding: 3rem;
    @include clearfix;
    opacity:0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

    @include respond (phone-land) {
        margin: 5vw;
        padding: 5vw;
    }
    
    &_img{
        border: 1rem solid white;
        float:left;
        height: 20vw;
        width: 20vw;
        margin-right:1rem;

        @include respond (tab-port) {
            height: 35vw;
            width: 35vw;
        }

        @include respond (phone-land) {
            width: 70vw;
            height: 70vw;
            margin-left: 5vw;
        }

    }

    &_stat{
        float:left;
        // padding: 1rem;
        color:white;
        // width:38rem;
    }

    &_stat--album, &_stat--artist, &_stat--track{ 
        color: white;
    }

    &_stat--score{
        display:inline-block;
        color:transparent;
    }
}