.leftPanel {
    float:left; 
    background-image: linear-gradient(rgba($light-pink,0.8), rgba($dark-pink, 0.8)) , url("../../img/medium.gif");
    width: 50%;
    height:100vh;

    &_heading{
        text-shadow: 0.4rem 0.2rem 1.3rem rgba(black,0.3);
        font-size: 3rem;
        font-weight: 800;
        font-style: italic;
        color: $white;
        text-align: right;
        margin-top:30%;
        margin-right:10%;
        margin-bottom:3%;
        
        &::after {
            content: "";
            display: table;
            clear: both;
        }

        [class*="headingtext"] {
            opacity:0;
            animation-name: moveHeaderTitleFromLeft;
            animation-duration: 0.8s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        }
        &text--1 {
            opacity:0;
            animation-delay: 0.5s;
        }
        &text--2 {
            opacity:0;
            animation-delay: 1s;
        }
    }

    &_info {
        opacity:0;
        width:50%;
        text-align:right;
        margin-left:40%;
        animation-name: fadeIn;
        animation-duration: 1.5s;
        animation-delay: 1.8s;
        animation-fill-mode: forwards;
    }
}