.rightPanel {
    height: 100vh;

    width: 50%;
    background: $blue;
    overflow-Y: scroll;
    @include respond (phone-land) {
        width: 100%;
        overflow:visible;
        height:100%;
    }
    // overflow-Y:scroll;
    @media (orientation:landscape) and (max-height: 650px) and (max-width:60em){
        height:100%;
        width:100%;
        overflow:visible;
    }

    @media (min-width: 1920px){
        &::-webkit-scrollbar {
            display: none;
           }
    }

    // overflow:hidden;



    float: right;
}