.nav {
    list-style-type: none;

    &_link {
        font-size:3rem;
        color: $light-pink;
        text-decoration: none;
        width: 25%;
        height:12.5vw;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgba($dark-pink,1) 100%);
        background-size: 260%;
        transition: all .4s;
        &:hover, &:active {
            background-position: 100%;
        }
    }

    &_icon {
        fill: $light-pink;
        height:100%;
        width:80%;
        margin: 0 auto;
        display: block;
    }
}