<div id="content">
<form>
        <div class="form_group"> 
        <input class="form_input" type="text" placeholder="Artist" id="artistSearch">
        </div>
        <div class="form_group">
          <input class="form_input" type="text" placeholder="Album" id="albumSearch">
        </div>
        <input type="submit" id="getAlbum" class="button" value="Search album">
        <h2 class="form_error">Error</h2> 
</form>
<div id="albumDiv" class="card">
                <img class="card_img" src="" alt="">
                <h2 class="card_stat--artist"></h2>
                <h2 class="card_stat--album"></h2>
                <div class="card_stat">
                       <h2 class="card_stat--score">0</h2>
                </div>
</div>
</div>