<div id="content">
    <!--<a href="https://accounts.spotify.com/authorize?client_id=5307a69a36d649da9466aa6d6f0b74cb&redirect_uri=http:%2F%2Flocalhost:63342%2Fmm%2Findex.html&response_type=token">Authorize</a>-->
    
    <input type="button" class="button" value="Log in with Spotify" onclick="window.location.href='https://accounts.spotify.com/authorize?client_id=5307a69a36d649da9466aa6d6f0b74cb&redirect_uri=http:%2F%2F127.0.0.1:8080%2F&response_type=token'" />
    
    <!-- <section class="grid-test">
        <div class="row">
            <div class="col-1-of-2">
                Col 1 of 2
            </div>
            <div class="col-1-of-2">
                Col 1 of 2
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-2-of-3">
                Col 2 of 3
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-2-of-4">
                Col 2 of 4
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-3-of-4">
                Col 3 of 4
            </div>
        </div>


    </section> -->

</div>

