<div id="content">
    <p>Welcome to MainstreamMeter</p>
    <div>This app allows you to find out how popular your favorite music is based on Spotify's popularity score that ranges from 0 to 100.</div>
    <hr>
    <div>How does this score work?</div>
    <div> The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.
        Generally speaking, songs that are being played a lot now will have a higher popularity than songs that were played a lot in the past. Artist and album popularity is derived mathematically from track popularity. Note that the popularity value may lag actual popularity by a few days: the value is not updated in real time.</div>
    <!--<a href="https://accounts.spotify.com/authorize?client_id=5307a69a36d649da9466aa6d6f0b74cb&redirect_uri=http:%2F%2Flocalhost:63342%2Fmm%2Findex.html&response_type=token">Authorize</a>-->
    <hr>
    <input type="button" class="button" value="Log in with Spotify" onclick="window.location.href='https://accounts.spotify.com/authorize?client_id=5307a69a36d649da9466aa6d6f0b74cb&redirect_uri=http:%2F%2F127.0.0.1:8080%2F&response_type=token'" />
    
    <!-- <section class="grid-test">
        <div class="row">
            <div class="col-1-of-2">
                Col 1 of 2
            </div>
            <div class="col-1-of-2">
                Col 1 of 2
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-2-of-3">
                Col 2 of 3
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-2-of-4">
                Col 2 of 4
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-3-of-4">
                Col 3 of 4
            </div>
        </div>


    </section> -->

</div>

