<div id="content">
    <form>
        <div class="form_group">
            <input class="form_input" type="text" placeholder="Artist" id="artistSearch">
        </div>
        <div class="form_group">
            <input class="form_input" type="text" placeholder="Track" id="trackSearch">
        </div>
        <div class="form_group">
            <input type="submit" id="getTrack" class="button" value="Search track">
        </div>
        <h2 class="form_error">Error</h2>
    </form>
    
    <div id="trackDiv" class="card">
        <img class="card_img" src="" alt="">
        <div class="card_stat">
            <h2 class="card_stat--artist"></h2>
            <h2 class="card_stat--track"></h2>
            <h2 class="card_stat--score"></h2>
        </div>
    </div>
</div>

