.button {
    background-color:$dark-pink;
    padding: 0.8rem 2rem;
    font-size:1.5rem;
    font-family: inherit;
    border: none;
    width: 70%;
    margin-left: 15%;
    font-weight: 600;
    color: rgba(white, 1);
    background-image: linear-gradient(120deg, transparent 0%, transparent 30%, rgba($light-pink,0.1) 30%, rgba($light-pink,1) 100%);
    background-size: 360%;
    transition: all .7s;

    &:hover, &:active {
        background-position: 100%;
    }
}