.form {
    
    &_group {
        margin-bottom: 1rem;
    }

    &_input{
        color:white;
        margin: 10px;
        padding: 0.8rem 2rem;
        background-color: rgba($lavender, 0.5);
        border: none;
        width: 70%;
        margin: 0 auto;
        display: block;
        border-bottom: 0.4rem solid transparent;

        &::placeholder {
            color:rgba(white,0.7);
        }

        &:focus{
            outline: none;
            border-bottom: 0.4rem solid $light-pink;
        }
    }

    &_error{
        width: 70%;
        margin: 0 auto;
        color:white;
        opacity:0;
    }
}