* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 60em) {
    html {
      font-size: 50%; } }

@keyframes moveHeaderTitleFromLeft {
  0% {
    transform: translateX(-70rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 100; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

body {
  font-family: Muli , sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

h1 {
  font-weight: normal; }

.leftPanel_heading {
  text-shadow: 0.4rem 0.2rem 1.3rem rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  font-weight: normal;
  font-family: Monoton, sans-serif;
  color: #fff;
  text-align: right; }
  @media (max-width: 60em) {
    .leftPanel_heading {
      font-size: 2rem; } }
  @media (max-width: 37.5em) {
    .leftPanel_heading {
      font-size: 1.5rem; } }

.leftPanel_info {
  text-align: right; }
  .leftPanel_info--primary {
    text-shadow: 0.4rem 0.2rem 1.3rem rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: 600;
    font-size: 2rem; }
  .leftPanel_info--secondary {
    text-shadow: 0.4rem 0.2rem 1.3rem rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: 400; }

.login_status {
  font-weight: 600;
  width: 70%;
  margin: 0 auto;
  color: white;
  font-size: 1.5rem; }

.form_input {
  font-family: inherit;
  font-size: 1.5rem; }

.form_error {
  font-size: 1.5rem; }

.card_stat--score {
  font-size: 10vw;
  -webkit-text-stroke: 0.4rem rgba(255, 255, 255, 0.95);
  background-image: linear-gradient(120deg, #9e579d 0%, #fc85ae 100%);
  -webkit-background-clip: text; }
  @media (max-width: 75em) {
    .card_stat--score {
      -webkit-text-stroke: 0.3rem rgba(255, 255, 255, 0.95); } }
  @media (max-width: 60em) {
    .card_stat--score {
      -webkit-text-stroke: 0.2rem rgba(255, 255, 255, 0.95); } }
  @media (max-width: 37.5em) {
    .card_stat--score {
      -webkit-text-stroke: 0 rgba(255, 255, 255, 0.95);
      font-size: 35vw; } }
  @media (max-width: 37.5em) {
    .card_stat--score {
      margin-top: -5vw; } }

.leftPanel {
  float: left;
  background-image: linear-gradient(rgba(252, 133, 174, 0.8), rgba(158, 87, 157, 0.8)), url("../../img/medium.gif");
  width: 50%;
  height: 100vh; }
  @media (max-width: 37.5em) {
    .leftPanel {
      width: 100%; } }
  @media (orientation: landscape) and (max-height: 650px) and (max-width: 60em) {
    .leftPanel {
      height: 100vw;
      width: 100%; } }
  @media (max-height: 650px) and (max-width: 31em) {
    .leftPanel {
      overflow: hidden; } }
  .leftPanel .inner-container::-webkit-scrollbar {
    display: none; }
  .leftPanel_heading {
    margin-top: 25%;
    margin-right: 10%;
    margin-bottom: 3%; }
    @media (max-width: 60em) {
      .leftPanel_heading {
        margin-right: 5%; } }
    .leftPanel_heading::after {
      content: "";
      display: table;
      clear: both; }
    .leftPanel_heading [class*="headingtext"] {
      opacity: 0;
      animation-name: moveHeaderTitleFromLeft;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
    .leftPanel_headingtext--1 {
      opacity: 0;
      animation-delay: 0.5s; }
    .leftPanel_headingtext--2 {
      opacity: 0;
      animation-delay: 1s; }
  .leftPanel_info {
    opacity: 0;
    width: 50%;
    margin-right: 10%;
    margin-left: auto;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards; }
    @media (max-width: 60em) {
      .leftPanel_info {
        margin-right: 5%; } }
  .leftPanel_info--secondary {
    overflow: hidden; }
    @media (max-width: 20em) {
      .leftPanel_info--secondary {
        height: 45vh; } }

.rightPanel {
  height: 100vh;
  width: 50%;
  background: #303a52;
  overflow-Y: scroll;
  float: right; }
  @media (max-width: 37.5em) {
    .rightPanel {
      width: 100%; } }
  @media (orientation: landscape) and (max-height: 650px) and (max-width: 60em) {
    .rightPanel {
      height: 100vw;
      width: 100%; } }
  @media (min-width: 1920px) {
    .rightPanel::-webkit-scrollbar {
      display: none; } }

.nav {
  list-style-type: none;
  max-width: 100%; }
  .nav::after {
    content: "";
    display: table;
    clear: both; }
  .nav_link {
    float: left;
    color: #fc85ae;
    width: 25%;
    height: 12.5vw;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #9e579d 100%);
    background-size: 260%;
    transition: all .4s; }
    .nav_link:hover, .nav_link:active {
      background-position: 100%; }
  .nav_icon {
    fill: #fc85ae;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: block; }

.card {
  background: rgba(87, 75, 144, 0.5);
  margin: 3rem;
  padding: 3rem;
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); }
  .card::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 37.5em) {
    .card {
      margin: 5vw;
      padding: 5vw; } }
  .card_img {
    border: 1rem solid white;
    float: left;
    height: 20vw;
    width: 20vw;
    margin-right: 1rem; }
    @media (max-width: 60em) {
      .card_img {
        height: 35vw;
        width: 35vw; } }
    @media (max-width: 37.5em) {
      .card_img {
        width: 70vw;
        height: 70vw;
        margin-left: 5vw; } }
  .card_stat {
    float: left;
    color: white; }
  .card_stat--album, .card_stat--artist, .card_stat--track {
    color: white; }
  .card_stat--score {
    display: inline-block;
    color: transparent; }

.form_group {
  margin-bottom: 1rem; }

.form_input {
  color: white;
  margin: 10px;
  padding: 0.8rem 2rem;
  background-color: rgba(87, 75, 144, 0.5);
  border: none;
  width: 70%;
  margin: 0 auto;
  display: block;
  border-bottom: 0.4rem solid transparent; }
  .form_input::placeholder {
    color: rgba(255, 255, 255, 0.7); }
  .form_input:focus {
    outline: none;
    border-bottom: 0.4rem solid #fc85ae; }

.form_error {
  width: 70%;
  margin: 0 auto;
  color: white;
  opacity: 0; }

.button {
  background-color: #9e579d;
  padding: 0.8rem 2rem;
  border: none;
  width: 70%;
  margin-left: 15%;
  color: white;
  background-image: linear-gradient(120deg, transparent 0%, transparent 30%, rgba(252, 133, 174, 0.1) 30%, #fc85ae 100%);
  background-size: 360%;
  transition: all .7s; }
  .button:hover, .button:active {
    background-position: 100%; }
